cbsd.conf
ansible/group_vars/all
ansible/inventory/inventory
ansible/roles/*
!ansible/roles/.keep
!ansible/roles/devel
ansible/site.yml
site.retry
vars.mk
yarn-error.log

node_modules
dist/*
*.lock
stats.html
cbsd.conf
project.mk
